.faq-card {
  padding: 10px 10px 10px 15px;
  margin: 20px 0px;
}

#faq-top-row:hover {
  cursor: pointer;
}

#faq-collapse-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-end;
  padding-right: 15px;
}

#faq-collapse-btn {
  font-size: 1.2rem;
}
